//Font Imports For Project
@import url('https://fonts.googleapis.com/css?family=Concert+One|Kodchasan|Raleway|Gruppo|Averia+Libre|NTR|Delius|Special+Elite');

//Font Variables
$font-title:  'Concert One', 'Century Gothic';
$font-stack-1: 'Kodchasan', 'Century Gothic';
$font-stack-2: 'Raleway', 'Century Gothic';
$font-stack-3: 'Special Elite', 'Averia Libre', 'NTR', 'Gruppo', 'Delius', 'Century Gothic';
  
//Color Variables
$primary-color: rgb(51, 51, 51);
//$secondary-color: rgb(22, 114, 255);
$secondary-color: rgb(35, 47, 62);
$tertiary-color: rgb(240, 240, 240);

//Pre-Defined Mixins
//Animation Transitions
@mixin easeOutFast {

    transition: all 0.1s ease-out;
}

@mixin easeOutAvg {

    transition: all 0.5s ease-out;
}

@mixin easeOutSlow {
    
    transition: all 1s ease-out;
}

//Media Queries...
//XX-Large devices
@mixin mediaXXl {
    
    @media screen and (min-width: 1200px) {
        @content;
    }
}

//X-Large devices
@mixin mediaXl {
    
    @media screen and (min-width: 1001px) and (max-width: 1199px) {
        @content;
    }
}

//Large devices
@mixin mediaLg {
    
    @media screen and (min-width: 751px) and (max-width: 1000px) {
        @content;
    }
}

//Medium devices
@mixin mediaMd {

    @media screen and (min-width: 501px) and (max-width: 750px) { 
        @content;
    }
}

//Small devices
@mixin mediaSm {

    @media screen and (min-width: 356px) and (max-width: 500px) {
        @content;
    }
}

//X-Small devices
@mixin mediaXs {
    
    @media screen and (max-width: 355px) {
        @content;
    }
}
